.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pagination-page {
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    transition: .2s;
}

.btn:hover {
    background: whitesmoke;
    color: #222222;
    cursor: pointer;
}